@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column; /* Adjust to column layout */
}
.main span {
  font-size: 4rem;
}

.gallery-text {
  z-index: 1;
  padding: 10px;
  background-color: #fff;
  position: relative;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  user-select: none;
}
/* MAKE TEXT CENTERED IN SCREEN 
 BUTTONS IN THE BOTTOM OF THE SCREEN*/
.main h2 {
  position: relative;
  font-size: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  user-select: none;
  line-height: 0.7;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 50% 50%; */
}
#particles2-js {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 50% 50%; */
}
#particles3-js {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 50% 50%; */
}

.button {
  text-decoration: none;
  width: 12.5vw;
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10rem;
  color: #333;
  border: 2px solid #333;
  text-transform: uppercase;
  font-size: 1.5vw;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:hover {
  transform: scale(1.1);
}

.buttons {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;

  }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
  opacity: 0; /* Initially set opacity to 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(20px); /* Initial translateY for slide-in effect */
  transition: opacity 0.7s ease, transform 0.7s ease;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.animate-grid-item {
  opacity: 1;
  transform: translateY(0);
}
.grid-wrapper {
  overflow: hidden;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.grid-wrapper .wide {
  grid-column: span 2;
}
.grid-wrapper .tall {
  grid-row: span 2;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}
section {
  min-height: 100vh;
}
.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: start;
}
.about h1 {
  z-index: 1;
  padding: 10px;
  background-color: #fff;
  position: relative;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}
.aboutContainer {
  max-width: 60vw;
  text-align: start; /* Adjust the max-width as needed */
  margin: 0 auto;
  word-spacing: 0.5vw;
}

.moesImage {
  width: 40%;
  height: 40%;
  float: left; /* Float the image to the left */
  margin-right: 2vw;
}

.animation-container {
  text-align: start;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.socials {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.media {
  display: flex;
  align-items: center;
  justify-content: center;
}
li a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
li {
  cursor: pointer;
  margin: 0 10px;
  list-style: none;
  display: inline-block;
  color: #292929;
  border: 1px solid #292929;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: 0.5s;
  padding: 10px 20px;
}
li:hover {
  color: rgb(15, 15, 144);
  border: 1px solid rgb(15, 15, 144);
  transition: 0.5s;
}
.socials h2 {
  margin: 50px;
}
